html {
    background-color: red;
}

#dice-container {
    display: flex;
    flex-wrap: wrap;
}

.dice {
    display: flex;
    width: auto;
    margin: 1vw;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 10vw
    
}
